@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background: theme("colors.slateBase");
  font-family: theme("fontFamily.body");
}

a {
  color: inherit;
}
